[submodule "src/lib/godot-cpp"]
	path = src/lib/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.x
[submodule "src/lib/moonlight-common-c"]
	path = src/lib/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c
